@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


html {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  background-color: #EEEEEE;
  color: #222831;
  font-style: normal;
;
}
body{
  margin-left: 5rem;
  margin-right: 5rem;
}
