@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


html {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  background-color: #EEEEEE;
  color: #222831;
  font-style: normal;
;
}
body{
  margin-left: 5rem;
  margin-right: 5rem;
}
@media only screen and (max-width: 768px) {
  body{
    margin-left: 2rem;
    margin-right: 2rem;
  }

}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #00ADB5 transparent #00ADB5 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
